<div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{ recipe['name'] if recipe is defined else '' }}">
</div>

<div class="form-group">
    <label for="steps">Steps</label>
    <textarea id="steps" name="steps">{{ recipe['steps'] if recipe is defined else '' }}</textarea>
</div>

<div class="form-group">
    <label for="ingredients">Ingredients</label>
    <textarea id="ingredients" name="ingredients">{{ recipe['ingredients'] if recipe is defined else '' }}</textarea>
</div>

<div class="form-group">
    <label></label>
    <input type="submit" value="Submit">
</div>
