{% extends 'layout.html' %}

{% block title %}Edit Recipe {{ recipe['name'] }} ({{ recipe['id'] }}){% endblock %}
{% block body_class %}edit{% endblock %}

{% block main %}
    <h1>Edit Recipe {{ recipe['name'] }} ({{ recipe['id'] }})</h1>

    <form action="{{ url_for('recipe_edit', recipe_id=recipe['id']) }}" method="post" class="edit-form">
        {% include 'recipe/_form.html' %}
    </form>

    <ul class="action-list">
        <li><a href="{{ url_for('recipe_index') }}">Back to list</a></li>
        <li>
            <form action="{{ url_for('recipe_delete', recipe_id=recipe['id']) }}" method="post">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </li>
    </ul>
{% endblock %}
