{% extends 'layout.html' %}

{% block title %}{{ recipe['name'] }} ({{ recipe['id'] }}){% endblock %}
{% block body_class %}show{% endblock %}

{% block main %}
    <h1>{{ recipe['name'] }}</h1>

    <article>
        {{ recipe['steps'] }}
    </article>
    <article>
        {{ recipe['ingredients'] }}
    </article>

    <ul class="action-list">
        <li><a href="{{ url_for('recipe_index') }}">Back to list</a></li>
        <li><a href="{{ url_for('recipe_edit', recipe_id=recipe['id']) }}">Edit</a></li>
    </ul>
{% endblock %}
